nav {
    background-color: rgb(53, 148, 41);
    padding: 10px;
    font-style: italic;
}
p.Questions{
    color: rgb(41, 148, 134);
    font-size: larger;
    font-style: italic;
}
p.Answers{
    color: rgb(143, 15, 194);
    font-weight: bold;
}
h1 {
    color: rgb(139, 5, 5);
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(20, 173, 173);
}