header {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

main {
    padding: 2rem;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image: url('../background/images/house.jpg');
    background-size: cover;
}

h2 {
    color: #fffefe;
    background-image: url('../background/images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem 0;
}

p {
    color: #fffefe;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #333;
}