header {
    background-color: #ac1126;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #c49191;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #e9626e;
    padding: 5px;
    border-radius: 8px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
}

aside {
    background-color: #e4dbdb;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

aside h2 {
    margin-top: 0;
}

aside ul {
    list-style-type: square;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media ONLY screen AND (max-width: 600px) {
    
}