body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFF8F0;
    margin: 0;
    padding: 0px 0 100px 0;
    overflow: auto;
}
nav {
    background-color: #8B4513;
    padding: 10px 20px;
}
#interest-link, #hero-link {
    color: #FFF8F0;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    text-align: center;
}
main {
    padding: 20px;
}
h1 {
    color: #2A0C4E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h2 {
    color: #2A0C4E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
}
p a, li a {
    color: #f80808;
    text-decoration: none;
}
dt {
    color: #a0500f;
    font-weight: bold;
    margin-top: 20px;
}
li {
   padding-bottom: 10px;
}
.emphasis {
    color: #2A0C4E;
    font-weight: bold;
}
.de-emphasis {
    color: #c0ab99;
    font-style: italic;
}
footer {
    background-color: #8B4513;
    color: #FFF8F0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#footer a {
    color: #FFF8F0;
    text-decoration: none;
}