header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #098332;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav a:hover {
  text-decoration: underline;
  background-color: #091583;
  padding: 10px;
  border-radius: 10px;
}

main {
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

aside {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

@media ONLY screen AND (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .card {
    grid-template-columns: auto;
  }

  body {
    font-size: 14px;
  }

  aside {
    margin-top: 10px;
    background-color: aqua;
  }
}