header {
    background-color: #f2f2f2;
    text-shadow: #f2f2f2 1px 1px 0px;
    padding: 20px;
    text-align: center;
    background-image: url(images/pokeball.jpg);
}

header.fire {
    background-color: #ff4500;
    background-image: url(images/fire.jpg);
}

header.water {
    background-color: #1e90ff;
    background-image: url(images/water.jpg);
}

header.electric {
    background-color: #ffd700;
    background-image: url(images/electric.jpg);
}

header.grass {
    background-color: #32cd32;
    background-image: url(images/grass.jpg);
}

header.dark {
    background-color: #000000;
    background-image: url(images/dark.jpg);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #333;
    text-shadow: none;
}
nav ul li {
    float: none;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li.current a{
    background-color: #925f01;
}
nav ul li.firecurrent a {
    background-color: #ff4500;
}
nav ul li.watercurrent a {
    background-color: #1e90ff;
}
nav ul li.electriccurrent a {
    background-color: #ffd700;
}
nav ul li.grasscurrent a {
    background-color: #32cd32;
}
nav ul li.darkcurrent a {
    background-color: #000000;
}
div.pokemon-card {
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px rgba(16, 6, 71, 0.1);
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 280px));
    gap: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.pokemon-grid h2 {
    grid-column: 1 / -1;
    margin-bottom: 4px;
}
div.pokemon-card h3 {
    margin-top: 0;
}
div.pokemon-card figure {
    margin: 0;
    text-align: center;
}
div.pokemon-card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 5px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
