header {
    background-color: #f2f2f2;
    text-shadow: #f2f2f2 1px 1px 0px;
    padding: 20px;
    text-align: center;
    background-image: url(images/pokeball.jpg);
}

header.fire {
    background-color: #ff4500;
    background-image: url(images/fire.jpg);
}

header.water {
    background-color: #1e90ff;
    background-image: url(images/water.jpg);
}

header.electric {
    background-color: #ffd700;
    background-image: url(images/electric.jpg);
}

header.grass {
    background-color: #32cd32;
    background-image: url(images/grass.jpg);
}

header.dark {
    background-color: #000000;
    background-image: url(images/dark.jpg);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-shadow: none;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}
nav ul li.current a {
    background-color: #925f01;
}
nav ul li.firecurrent a {
    background-color: #ff4500;
}
nav ul li.watercurrent a {
    background-color: #1e90ff;
}
nav ul li.electriccurrent a {
    background-color: #ffd700;
}
nav ul li.grasscurrent a {
    background-color: #32cd32;
}
nav ul li.darkcurrent a {
    background-color: #000000;
}
pokemon-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
