header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

h2 {
    color: #333;
    margin-top: 2rem;
}

.answer {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.questions {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
