header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
nav {
    margin: 5px 0;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}
h2 {
    color: darkblue;
}
li {
    margin: 5px 0;
    font-weight: bold;
    list-style-type: none;
    color: rgb(0, 0, 0);
}
.answer {
    color: darkred;
    background-color: lightyellow;
    padding: 5px;
    border-left: 5px solid rgb(32, 24, 136);
}
footer {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
.separator {
    margin: 5px 0;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}