body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #b4801f;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #175e97;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

nav a:hover {
    background-color: #f03202;
    color: white;
    border-radius: 5px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.side {
    display: flex;
}

aside {
    width: 250px;
    background-color: #ecf0f1;
    padding: 20px;
}

aside h2 {
    margin: auto;
    color: #688d45;
}

aside p {
    margin-bottom: 20px;
}

aside h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
}

aside ul li a {
    color: #3498db;
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
}

.parent {
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    gap: 20px;
}

.card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: 15px;
    color: #050c13;
}

.card p {
    margin: 15px;
    color: #c04107;
}

footer {
    background-color: #3d2e16;
    color: white;
    padding: 30px;
    margin-top: 0;
}

.footer {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.footer a {
    display: block;
    color: #50db34;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

footer p {
    text-align: center;
    border-top: 1px solid #9b2146;
    padding-top: 15px;
}